<div class="container-fluid clearfix">
        <h3>Showing Results for "{{model.searchText}}"</h3>
        <!--search result-->
        <!-- ngRepeat: doctor in model.doctors -->
        <div class="row col-md-7 col-lg-7 col-sm-10 col-md-offset-1 col-lg-offset-1 resultRow text-nowrap" ng-repeat="event in model.events">

                 <img ng-if="event.group.group_photo.photo_link" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 eventResultImage" ng-src="{{event.group.group_photo.photo_link}}">


                <img  class="col-xs-2 col-sm-2 col-md-2 col-lg-2 eventResultImage" ng-if="!event.group.group_photo.photo_link" ng-src="https://asset1.betterdoctor.com/assets/general_doctor_female.png">




            <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4 resultInfo ">
                <div class="resultName"><a href="#/detail/{{event.id}}"  >{{event.name}}</a></div>
                <div class="resultSpecialty">{{event.group.name}}</div>
                <div><img></div>
                <a href="{{event.event_url}}" target="_blank" class="resultPhone">{{event.event_url}}</a>
        </div><!-- end ngRepeat: doctor in model.doctors -->

        <!--<div class="row col-md-7 col-lg-7 col-md-offset-1 col-lg-offset-1">-->
            <!--<hr>-->
        <!--</div>-->


    </div>
    </div>
<!--</div>-->

<!--<nav class="navbar navbar-default navbar-fixed-bottom">-->
    <!--<div class="container">-->
        <!--<div class="row navbar-text">-->
            <!--<div class="col-xs-3 text-center">-->
            <!--</div>-->
            <!--<div class="col-xs-3 text-center">-->
            <!--</div>-->
            <!--<div class="col-xs-3 text-center">-->
            <!--</div>-->
            <!--<div class="col-xs-3 text-center">-->
                <!--<a href="#/user/{{model.userId}}">-->
                    <!--<span class="glyphicon glyphicon-user"></span>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->
