<div class="container">
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <a class="navbar-brand" href="#/">Web App Maker</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->

    </div>
    <!-- /.container -->
</nav>

<!-- Full Width Image Header -->
<header >
    <div class="headline">

            <h1>Welcome!</h1>
            <p class="justified-text">Web App Maker allows users to create and use online, mobile friendly, Websites.
                Users can create Websites. There are two types of users. Those who can create Websites as developers and
                end users who visit the Websites created by the developers. Only developers can create and modify the Websites.
                End users can not modify the Websites, they can only interact with them. Websites can contain multiple pages
                which in turn contain various kinds of widgets.</p>
            <h3><a href="#/login" class="btn btn-success">Continue to Site</a></h3>
        </div>

</header>

</div>

