Name
<input ng-model="model.widget.name"
       class="form-control"
       required
       name="widgetname">
<div ng-show="editWidgetForm.widgetname.$invalid && editWidgetForm.$submitted"
     class="message">
        Name is a required field.
</div>
HTML
<div class="form-group" ng-model="model.widget.text"
     text-angular
     ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]">
        </div>

<a class="btn btn-danger  btn-block"
   ng-click="model.deleteWidget(model.widget._id)">Delete</a>