<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide carousel-container">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('../../images/13495165_10206487780061642_8754320939717125817_n.jpg');"></div>
            <div class="carousel-caption">
                <!--<h2>Caption 1</h2>-->
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('../../images/13407232_10206466962381213_311805663119258951_n.jpg');"></div>
            <div class="carousel-caption">
                <!--<h2>Caption 2</h2>-->
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('../../images/IMG_0374.jpg');"></div>
            <div class="carousel-caption">
                <!--<h2>Caption 3</h2>-->
            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container ">
    <div class="col-md-12 well-wrapper">
    <p class="lead">Consider yourself an adventure junkie?
        Thrill camp let's you hunt and explore events to satisfy your thrill senses.
        Sign up and you can manage your favourite events.
        You can also perform advanced searches to look for events of your interest. </p>

    <form name="searchForm">

    <div class="well">
        <h4>Let The Thrill Begin</h4>
        <div class="input-group">
            <input ng-model="searchText" type="text" class="form-control"
                   placeholder="Enter a search text" required>
                        <span class="input-group-btn">
                            <button ng-click="searchForm.$valid && model.eventSearch(searchText)"
                                    type="submit"
                                    class="btn btn-success"><i class="fa fa-search"></i></button>
                        </span>
        </div>
    </div>

        </form>
    </div>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Navya Kuchibhotla 2016</p>
            </div>
        </div>
    </footer>

</div>

<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })

</script>